*{
    margin: 0;
    padding: 0;
    outline: none;
}

.navigation{
    font-family: var(--font1);
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.nav-left{
    font-size: 35px;
    display: flex;
}

.nav-left span a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0px 40px;
    font-size: 18px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.content{
    height: 100%;
    display: flex;
    margin-top: 10px;
    position: relative;
}

.content::after{
    content: "";
    background-image: url(../img/bg/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.4;
    z-index: -1;
}

.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles{
    margin-top: 12px;
    background-color:rgb(241, 227, 227, 0.15);
    margin-top: 25px;
    position: relative;
}

.year-box{
    position: absolute;
    right: 10%;
    top: 5%;
    width: 20%;
    height: 10%;
    /*background-color: red;*/
}

.year-box div{
    margin: 7px;
}

.home-article{
    display: flex;
    margin: 25px;
}

.home-article img{
    width: 20vw;
    border: 2px solid black;
    border-radius: 10px;
}

.home-articale-content{
    align-self: center;
    padding: 25px;
}

.home-articale-content a{
    text-decoration: none;
    color: black;
}

.footer{
    height: auto;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer a{
    color: white;
}